.faq__body {
    width: 60%;
    margin: auto;

    @media (max-width: 880px) {
        width: 75%;
    }
    @media (max-width: 770px) {
        width: 95%;
    }

    .faq__body--heading {
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.6rem;
            text-align: center;
            color: #8F90A6;
        }
    }

    .faq__body--acc {
        width: 80%;
        margin: 0 auto;
        margin-top: 6rem;

        @media (max-width: 770px) {
            margin-top: 4rem;
        }

        @media (max-width: 650px) {
            margin-top: 2rem;
            width: 90%;
        }

        .accordion {
            .accordion-item {
                border: 1px solid #E4E4EB;
                border-top: 0;
                border-right: 0;
                border-left: 0;

                &:last-of-type {
                    border-bottom: 0;
                }

                .accordion-header {
                    .accordion-button {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2rem;
                        line-height: 2.8rem;
                        color: #1C1C28;

                        @media (max-width: 650px) {
                            font-size: 1.3rem;
                            line-height: 1.5rem;
                        }

                        &:not(.collapsed) {
                            background-color: transparent;
                            box-shadow: none;
                        }

                        &:focus {
                            z-index: 3;
                            border-color: transparent;
                            outline: 0;
                            box-shadow: none;
                        }

                        &:hover{
                            &::after{
                                opacity: 0.6;
                            }
                        }

                        &::after {
                            width: 3rem;
                            height: 3rem;
                            background-image: url("../../../../public/images/icons/plus-btn.svg");
                            background-size: 3rem;

                            @media (max-width: 650px) {
                                width: 2rem;
                                height: 2rem;
                                background-size: 2rem;
                            }
                        }

                        &:not(.collapsed)::after {
                            background-image: url("../../../../public/images/icons/minus-btn.svg");
                        }
                    }
                }

                .accordion-collapse {
                    .accordion-body {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #8F90A6;

                        @media (max-width: 650px) {
                            font-size: 1rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
    }
}